/* Color gris: #958888 */

body {
    font-family: 'Roboto'; /* AGREGAR MAS LETRAS*/
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

section {
    margin-left: 15px;
    margin-top: 25px;
    padding-top: 25px;
    padding-left: 15px;
    border-top: 3px #AACE9B solid; /*Fix this*/
}

article {
    display: inline-block;
    width: 29%;
    /*border: 2px black solid;*/
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 40px;
}

article h4 {
    margin: 20px 0px;
}

.main-header {
    border: 1px #373867 solid;
    font-size: 50px;
    font-weight: bold;
    /* line-height: 1.6 em (es para agregar interlineado en texto)*/
    color: #373867;
    /*background-color: #F6FOE3;*/
    /*display: block; corregir*/
   /* width: 100%; /*corregir*/
    padding: 30px; 
}

.main-header img {
    position: relative;
    right: 30px;
    bottom: 100px;
    float: right;
    padding: 30px;
}

.clr {
    clear: both;
}

.left-bar {
    float:left;
    width: 20%;
    height: 100%;
    border: 2px black solid;
    box-sizing: border-box;
    background-color: #dcdada;
    padding: 5px;
}

.main-block {
    float:right;
    width: 80%;
    box-sizing: border-box;
}

.first-h2 {
    border: 2px black solid;
    padding-top: 50px;
}

.class-app {
    left: 30px;
    width: 50%;
    padding-top: 40px;
    padding-left: 30px;
    border: 2px black solid;
    line-height: 25px;
    display: block;
    width: 50%;
    float: left;
}

.class-app h3{
    margin-bottom: 40px;
}

.img-app {
    display: inline-block;
    padding-top: 40px;
    padding-left: 80px;   
}

.functionalities {
    /*border: 1px black solid;*/
    margin-top: 50px;
}

.functionalities ul {
    border: 1px black solid;
    list-style: circle;
    padding-left: 80px;
}

.functionalities li {
    display: inline-block;
    width: 20%;
    margin-left: 130px;
    margin-right: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px black solid;   
}

.my-form {
    border: #373867 1px solid;
    position: relative;
    left: 80px;
    top: 30px;
}

.my-form .form-group {
    padding-top: 30px;
    padding-bottom: 30px;
    /*display: inline-block;
    width: 50%;*/
}

.my-form label {
    display: block;
}

.my-form input[type=text] {
    padding: 8px;
    width: 300px;
}

.my-form input[type=email] {
    padding: 8px;
    width: 300px;
}

.my-form input [type=checkbox] {
    display: inline;
}

.my-form .form-group2 {
    position: absolute;
    bottom: 250px;
    left: 500px;
    border: #373867 1px solid;
}

.my-form .form-group2 input {
    position: relative;
    top: 80px;
    right: 320px;
    padding: 5px 25px;
    margin: 0px; /* TENGO QUE SEPARAR LOS BOTONES */
}

.my-form .form-group2 textarea {
    padding: 8px;
    width: 300px;
}

.history {
    border: #373867 2px;
    margin-left: 100px;
}

.history p{
    border: 2px black solid;
    display: inline-block;
    width: 25%;
    margin-right: 30px;
    margin-bottom: 20px;

}

/*.class-app {
    left: 30px;
    width: 50%;
    padding-top: 40px;
    padding-left: 30px;
    border: 2px black solid;
    line-height: 25px;
    display: block;
    width: 50%;
    float: left;*/
}

.history img {
    display: inline;
    /*padding-top: 40px;
    padding-left: 80px;  */ 
}

.items {
    text-align: center;
}

.item-list {
    border: #373867 1px solid;
    display: inline-block;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;

}

.item-list ol {
    a
}

.item-list li {
    a
}

.main-footer {
    text-align: center;
}

.main-footer div {
    margin-bottom: 0px;
}

.main-footer img {
    margin-bottom: 30px;
}

.main-footer p {
    margin-bottom: 15px;
    color: #958888;
}