body {
    font-family: 'Roboto'; /* AGREGAR MAS LETRAS*/
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

section {
    margin-left: 70px;
}

article {
    display: inline-block;
    width: 48%;
    border: 2px black solid;

}

.main-header {
    border: 2px black solid;
    font-size: 50px;
    font-weight: bold;
    /* line-height: 1.6 em (es para agregar interlineado en texto)*/
    color: #373867;
    background-color: #F6FOE3;
    /*display: block; corregir*/
   /* width: 100%; /*corregir*/
    padding: 30px;
     
    
}

.main-header img {
    position: relative;
    right: 30px;
    bottom: 100px;
    float: right;
    padding: 30px;


}

.clr {
    clear: both;
}

.left-bar {
    float:left;
    width: 20%;
    border: 2px black solid;
    box-sizing: border-box;
}

.main-block {
    float:right;
    width: 80%;
    box-sizing: border-box;
}

.first-h2 {
    border: 2px black solid;
    padding-top: 50px;
}

.class-app {
    float:left;
    width: 50%;
    border: 2px black solid;
    /*display: inline-block;
    width: 100%;*/
}

.class-app img {
    float:right;
    border: 2px black solid;
}

.functionalities {
    border: 2px black solid;

}

.functionalities ul {
    border: 2px black solid;
    list-style: circle;
    padding-left: 80px;
}

.functionalities li {
    display: inline-block;
    width: 40%;
    padding-right: 40px;
    border: 2px black solid;
    
}

.my-form {
    padding: 20 px;
}

.my-form .form-group {
    padding-bottom: 50px;
}

.my-form label {
    display: block;
}

.my-form input[type=text] {
    padding: 8px;
    width: 300px;

}

.my-form input[type=email] {
    padding: 8px;
    width: 300px;

}

