.left-bar {
    display: none;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #DCDADA; 
}

.left-bar a:hover {
    color: #AACE9B;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #EBEBEB;
}

.search label {
    align-self: flex-start;
    padding-left: 11px;
}

.search input {
    padding: 5px;
    border: 1px solid #373867;
    border-radius: 5px;
}

.search img {
    margin-left: 10px;
    margin-top: 3px;
}

.menu {
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 30px;
}

.menu label {
    font-weight: bold;
    text-decoration: underline 3px;
    text-decoration-color: #AACE9B;
    font-size: 22px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-top: 20px;
}

.menu li {
    padding-bottom: 4px;
    border-bottom: 1px solid #AACE9B;
}

.menu a , .mail-adress a {
    color: black;
    text-decoration: none;
}

.contact-inf {
    margin-top: 35px;
}

.contact-inf p {
    margin-top: 15px;
    color: #958888;
}

.mail-adress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #AACE9B;
    font-size: 13px;
}